body {
  margin: 0;
  min-height: 100vh;
  font-size: 20px;
  font-family: "Special Elite", monospace;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  bottom: 0;
}
footer li {
  margin: 0;
  padding-bottom: 2px;
}

#about, #work, #contact, #resume {
  min-height: 100vh;
  text-align: center;
}

main {
  min-width: 100%;
  /* display: flex;
  flex-direction: column; */
}

header {
  min-width: 100%;
}

.hero {
  background: url(img/rainy-cafe.gif);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(226, 226, 226);
}

.sticky {
  position: fixed;
  bottom: 0;
}

.active {
  min-height: 100vh;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 25%;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 60px;
}

a {
  text-decoration-style: dotted; 
  color: black;
  background: rgb(216, 216, 129);
}

a:hover {
  color: white;
  background: black;
  min-height: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  background: none;
}
nav a:hover {
  color: black;
  background: rgb(216, 216, 129);
}

ul {
  list-style: none;
  margin: 0;
}

section.hero {
  display: flex;
  align-content: space-around;
}

section.hero p {
  min-height: 45px;
  background: rgba(0, 0, 0, 0.55);
  padding: 15px 10px 0;
  margin: 0;
} 

iframe {
  display: block;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img.screenshot {
  max-width: 33%;
  max-height: 25%;
}

.screenshot-container {
  /* max-height: 33%;
  display: flex;
  justify-content: space-around; */
  border: solid 2px;
}

div.screenshot-container > p {
  display: inline-block;
}

/* a > img  */